.home {

    padding-top: 4.6rem;

    @include breakpoint(small only) {
        padding-top: 2.8rem;
    }

    .hero {
        width: 100%;
        box-sizing: border-box;

        .hero-slider {
            img {
                width: 100% !important;
            }
        }
    }
}