
h2 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 18px;
  font-weight: 500;
}

.reveal {
    border:0;
    border-radius: 8px;
  
    &:focus {
      outline-style: none;
    }
  }
  .notification {
    margin-top: 24px;
    display: none;
  
    ul {
      li {
        list-style-type: none;
      }
    }
  }
  
  .fa-edit {
    color: #8A6D3B;
  }
  
  .fa-times {
    color:#FF0000;
  }