
$background: #F2F2F2;
$heading-large: 40px;
$heading-medium: 32px;
$heading-small: 28px;
$text-size: 16px;

html, body {
  font-size: $text-size;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: 'Average Sans', sans-serif;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  padding: 0 1rem 1rem 1rem;
  font-weight: 500;

  @include breakpoint(medium only) {
    font-size: 1.8rem;
  }

  @include breakpoint(large only) {
    font-size: 2rem;
  }
}

.notify {
  display: none;
  position: fixed;
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  width: 300px;
  border-radius: 0.5rem;
  background-color: #00AA00;
  color: #FFFFFF
}

p {
  font-family: 'Average Sans', sans-serif;
  font-size: 1.2rem;

  @include breakpoint(medium only) {
    font-size: 1rem;
  }
}

[v-cloak] .v-cloak--hidden {
  display: none;
}

.site_wrapper {
  min-height: 100%;
  position: relative;
}
table {
  border-collapse: collapse;

  th, tr, td {
    font-size:  12px;
    padding: 4px;
    border: 1px solid #C0C0C0;
  }
}


h2 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 500;
}

hr {
  margin: 0 0 16px 0;
}

.reveal {
    border:0;
    border-radius: 8px;
  
    &:focus {
      outline-style: none;
    }
  }
  .notification {
    margin-top: 24px;
    display: none;
  
    ul {
      li {
        list-style-type: none;
      }
    }
  }
  
  .fa-edit {
    color: #8A6D3B;
  }
  
  .fa-times {
    color:#FF0000;
  }